apiVersion: apps/v1
kind: Deployment
metadata:
  name: ai-backend
spec:
  replicas: 1
  selector:
    matchLabels:
      app: ai-backend
  template:
    metadata:
      labels:
        app: ai-backend
    spec:
      containers:
      - name: backend
        image: ghcr.io/boya9j/ai-ocean-data-site:latest
        command: ["uvicorn", "backend.main:app", "--host", "0.0.0.0", "--port", "8000"]
        ports:
        - containerPort: 8000
